.footer {
    margin-top: 98px;
    background-image: url('../images/footer_background.png');
    position: relative;

    img {
        margin-top: 56px;
    }

    .footer_para {
        p {
            color: white;
            margin-top: 16px;
            text-align: justify;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }
    }

    .footer_logo {
        .fb_img {
            margin-top: 0px;
            float: left;
            margin: 0 0 0 5px;
        }
        .google_img {
            margin-top: 0px;
            float: left;
            margin: 0 0 0 5px;
        }
        .linked_img {
            margin-top: 0px;
            float: left;
            margin: 0 0 0 5px;
        }
        .insta_img {
            margin-top: 0px;
            float: left;
            margin: 0 0 0 5px;
        }
    }

    .footer_address {
        color: white;
        margin-top: 100px;
        margin-left: 70px;

        h2 {
            margin-bottom: 0px;
            text-align: justify;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            font-size: 15px;
            margin: 10px 0 0px -8px;
            text-align: justify;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }

        p {
            margin-bottom: 0px;
            text-align: justify;
            margin-left: -9px;
        }
    }

    .footer_second_address {
        color: white;
        margin-top: 100px;
        margin-left: 70px;

        h2 {
            margin-bottom: 0px;
            text-align: justify;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            font-size: 15px;
            margin: 10px 0 0px -8px;
            text-align: justify;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }

        p {
            margin-bottom: 0px;
            text-align: justify;
            margin-left: -9px;
        }
    }

    .footer_submit {
        margin-top: 135px;

        button {
            margin-left: 5px;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 3px;
        }

        .web_img {
            margin: -170px 0 0 106px;
            position: relative;
        }
    }

}

@media screen and (max-width: 1200px) {
    .footer {

        .footer_submit {

            .web_img {
                display: none;
            }
        }

    }

}

@media screen and (max-width: 1000px) {
    .footer {

        img {
            margin-top: 30px;
        }

        .footer_address {
            color: white;
            margin-top: 100px;
            margin-left: 26px;

            h1 {
                font-size: 15px;
                text-align: justify;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                width: 119%;
                margin-top: 13px;
            }

            p {
                text-align: justify;
                margin-top: 3px;
                line-height: 24px;
                width: 100%;
                margin-bottom: 0;
            }
        }

        .footer_second_address {
            color: white;
            margin-top: 100px;
            margin-left: 7px;

            h1 {
                font-size: 15px;
                margin: 10px 0 0px -8px;
                text-align: justify;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                width: 92%;
            }

            p {
                margin-bottom: 0px;
                text-align: justify;
                margin-left: -9px;
                width: 91%;
            }

        }


        .footer_submit {
            margin-top: 135px;
            margin-left: -45px;

            .web_img {
                display: none;
            }
        }

    }

}

@media screen and (max-width: 991px) {
    .footer {

        img {
            margin-top: 21px;
        }

        .footer_para {
            p {
                color: white;
                margin-top: 16px;
                text-align: justify;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                width: 70%;
            }
        }

        .footer_address {
            color: white;
            margin-top: 80px;
            margin-left: -25px;

            h1 {
                font-size: 15px;
                text-align: justify;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                width: 141%;
                margin-top: 13px;
            }

            p {
                text-align: justify;
                margin-top: 3px;
                line-height: 24px;
                width: 89%;
                margin-bottom: 0;
            }
        }

        .footer_second_address {
            color: white;
            margin-top: 79px;
            margin-left: -16px;

            h1 {
                font-size: 15px;
                margin: 10px 0 0px -8px;
                text-align: justify;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                width: 145%;
            }

            p {
                margin-bottom: 0px;
                text-align: justify;
                width: 92%;
                line-height: 27px;
            }

        }

        .footer_submit {
            margin-top: 135px;
            margin-left: -34px;

            .web_img {
                display: none;
            }

            input{
                width: 73%;
            }

            button {
                margin-left: 4px;
                background: #3B70F9;
                color: white;
                border: none;
                padding: 3px;
            }

        }

    }

}

@media screen and (max-width: 784px) {
    .footer {

        .footer_para {
            p {
                color: white;
                margin-top: 16px;
                text-align: justify;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                font-family: "Roboto", sans-serif;
                width: 78%;
                margin-left: 14px;
            }
        }

        .footer_address {
            color: white;
            margin-top: 80px;
            margin-left: -11px;

            p {
                text-align: justify;
                margin-top: 3px;
                line-height: 24px;
                width: 96%;
                margin-bottom: 0;
            }
        }

        .footer_second_address {
            color: white;
            margin-top: 79px;
            margin-left: -16px;

            p {
                margin-bottom: 0px;
                text-align: justify;
                width: 102%;
                line-height: 27px;
            }

        }

        .footer_submit {
            margin-top: 135px;
            margin-left: -29px;

            .web_img {
                display: none;
            }

            input{
                width: 67%;
            }

        }

    }

}

@media screen and (max-width: 784px) {
    .footer {

        .footer_submit {
            margin-top: 135px;
            margin-left: -29px;

            .web_img {
                display: none;
            }

        }

    }

}

@media screen and (max-width: 600px) {
    .footer {
    
        .footer_para {
            p {
                color: white;
                margin-top: 16px;
                text-align: justify;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                margin-left: 79px;
            }
        }
    
        .footer_logo {
            .fb_img {
                margin-top: 0px;
                float: left;
                margin: 0px 0 0 72px;
            }
        }
    
        .footer_address {
            color: white;
            margin-top: 32px;
            margin-left: 70px;
    
            p {
                margin-bottom: 0px;
                text-align: justify;
                margin-left: -9px;
                width: 83%;
            }
        }
    
        .footer_second_address {
            color: white;
            margin-top: 39px;
            margin-left: 70px;
    
            p {
                margin-bottom: 0px;
                text-align: justify;
                margin-left: -9px;
                width: 86%;
            }
        }
    
        .footer_submit {
            margin-top: 34px;
            margin-bottom: 25px;

            input {
                width: 41%;
            }
    
            .web_img {
               display: none;
            }
        }
    
    }
    
}

@media screen and (max-width: 400px) {
    .footer {

        img{
            width: 61%;
        }
    
        .footer_para {
            p {
                color: white;
                margin-top: 16px;
                text-align: justify;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                margin-left: 79px;
            }
        }
    
        .footer_logo {
            .fb_img {
                float: left;
                margin: 8px 0 0 72px;
                width: 8%;
            }
            .google_img{
                margin: 8px 0 0 13px;
                width: 8%; 
            }
            .linked_img{
                margin: 8px 0 0 13px;
                width: 8%; 
            }
            .insta_img{
                margin: 8px 0 0 13px;
                width: 8%; 
            }
        }
    
        .footer_address {
            color: white;
            margin-top: 32px;
            margin-left: 70px;
    
            p {
                margin-bottom: 0px;
                text-align: justify;
                margin-left: -9px;
                width: 83%;
            }
        }
    
        .footer_second_address {
            color: white;
            margin-top: 39px;
            margin-left: 70px;
    
            p {
                margin-bottom: 0px;
                text-align: justify;
                margin-left: -9px;
                width: 86%;
            }
        }
    
        .footer_submit {
            margin-top: 34px;
            margin-bottom: 25px;

            input {
                width: 41%;
            }
    
            .web_img {
               display: none;
            }
        }
    
    }
    
}