.logo {
    width: 35%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.header_menu {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.nav-link {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
}


@media screen and (max-width: 991px) {

    .logo {
        padding: 11px;    
        float: left;
    }

    .navbar-toggler {
        background-color: white;
    }
}

@media screen and (max-width: 400px) {

    img{
        width: 190%;
    }
    
}