.services {

    .web_img {
        position: absolute;
        margin: 0 0 0 -587px;
    }

    .carousel-caption {
        position: absolute;
        right: 53%;
        bottom: 169px;
        left: 10%;
        z-index: 10;
        padding-top: 8px;
        padding-bottom: 264px;
        color: #fff;
        text-align: left;
        top: 35%;
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 7px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 60%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .carousel-indicators li {
        background-color: #000;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
    }

    .carousel-indicators .active {
        background-color: #fff;
    }


    .services_head {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }

    .basic_btn {
        width: 30%;
        height: 40px;
        background-image: linear-gradient(to right, #224495, #3B70F9);
        color: #FFFFFF;
        border: none;
        margin-top: 20px;
    }
}

.about_head {
    h2 {
        margin-top: 60px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    button {
        float: inline-end;
        background: #3B70F9;
        color: white;
        border: none;
        padding: 6px;
        width: 18%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 19px;
    }

    span {
        margin-left: 5px;
    }

    .card.business {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 85%;

        .card {
            margin: 30px 0px 0px 24px;
            width: 22%;
            height: 67px;
        }

        .img_it {
            width: 62%;
            margin: 5px 0 0 13px;
        }

        .img_cyber {
            width: 70%;
            margin: 10px 0 0 11px;
        }

        .img_web {
            width: 60%;
            margin: 12px 0 0 15px;
        }

        h3 {
            margin-top: 10px;
            text-align: left;
            margin-left: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: black;
        }

        p {
            text-align: justify;
            margin-left: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            padding: 15px;
            color: #878787;
        }
    }

    .card.business:hover {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 85%;
        background-color: #3B70F9;

        .card {
            margin: 30px 0px 0px 24px;
            width: 22%;
            height: 67px;
        }

        .img_it {
            width: 62%;
            margin: 5px 0 0 13px;
        }

        .img_cyber {
            width: 70%;
            margin: 10px 0 0 11px;
        }

        .img_web {
            width: 60%;
            margin: 12px 0 0 15px;
        }

        h3:hover {
            margin-top: 10px;
            text-align: left;
            margin-left: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: white;
        }

        p:hover {
            text-align: justify;
            margin-left: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            padding: 15px;
            color: white;
        }
    }
}

.about_section {

    .web_img {
        position: absolute;
        width: 20%;
        height: 100px;
        margin-left: 21px;
    }

    h2 {
        margin-top: 5px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 28px;
        margin-top: 11px;
        font-weight: 600;
        line-height: 33px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    p {
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        padding: 15px;
        color: #878787;
    }

    img {
        width: 100%;
        height: 70%;
    }

    .card_section {
        display: flex;

        .card {
            width: 93px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            height: 76px;
        }

        img {
            width: 56%;
            margin: 11px 0 0px 14px;
        }

        h1 {
            font-weight: 500;
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 12px;
        }

        p {
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
            padding: 0 9px 0 9px;
            color: #878787;
        }
    }

    button {
        width: 29%;
        height: 40px;
        background: #3B70F9;
        color: #FFFFFF;
        border: none;
        float: left;
        margin-top: 19px;
    }
}

.about_image {
    background-image: url(../images/about_backimage.png);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    width: 88%;
    margin: -70px 0 0px 65px;
    height: 225px;

    .rating {
        display: flex;
        margin-left: 37px;
        margin-top: 13px;
    }

    .rating_content {
        font-size: 16px;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        margin-left: 18px;
    }
}

.offer {
    h2 {
        margin-top: 60px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    button {
        float: inline-end;
        background: #3B70F9;
        color: white;
        border: none;
        padding: 7px;
        width: 15%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 17px;
    }

    span {
        margin-left: 5px;
    }

    img {
        padding: 23px;
        float: left;
    }
}

.review {

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 7px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 60%;
    }

    .review_img {
        background-image: url('../images/blue_background.png');
        width: 100%;
        background-position: center;
        height: 500px;

        .web_img {
            margin-left: 25px;
            float: left;
        }

        .web_white_round_img {
            position: relative;
            margin-top: 144px;
            margin-left: -336px;
            width: 30%;
        }

        .web_blue_quotes_img {
            position: absolute;
            margin-top: 166px;
            margin-left: -68px;
            width: 4%;
        }

        .clients_content {
            margin-top: 15px;
            font-size: 20px;
            color: white;
            margin-left: 13px;
        }
    }

    h2 {
        margin-top: 60px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    .card.review {
        background-image: url('../images/blue_background.png');
        width: 95%;
        height: 438px;
        border: none;


        .review_content {
            background-color: white;
        }

        .card.review_logo {
            position: absolute;
            width: 40%;
            margin: 44px 0 0 58px;
            height: 50px;

            p {
                text-align: center;
            }

            img {
                width: 45%;
                margin: 21px 0px 0 -42px;
                float: left;
            }
        }

        h3 {
            text-align: left;
            margin-left: 10px;
            margin-top: -20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: black;
        }

        h4 {
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: black;
            margin: -6px 0px 17px 9px;
        }

        p {
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #83848A;
            padding: 9px;
            margin-top: 5px;
        }
    }


}

.development {
    h2 {
        margin-top: 245px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    button {
        float: inline-end;
        background: #3B70F9;
        color: white;
        border: none;
        padding: 9px;
        width: 15%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 17px;
    }

    span {
        margin-left: 5px;
    }

    img {
        width: 75%;
        margin-top: 30px;
    }

    .card.development {
        img {
            width: 100%;
            margin: 0;
        }

        h3 {
            font-size: 24px;
            margin-top: 18px;
            font-weight: 600;
            line-height: 24px;
            color: #0F0D1D;
            font-family: 'Roboto', sans-serif;
            text-align: left;
            margin-left: 15px;
        }

        p {
            text-align: justify;
            padding: 12px;
        }
    }
}

.case_studies {
    h2 {
        margin-top: 82px;
        font-weight: 500;
        background: #3B70F9;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    h3 {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #0F0D1D;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    button {
        float: inline-end;
        background: #3B70F9;
        color: white;
        border: none;
        padding: 8px 1px 6px 1px;
        width: 15%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 19px;
    }

    span {
        margin-left: 5px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .card.case {
        h3 {
            text-align: left;
            margin-left: 21px;
            margin-top: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: black;
        }

        h4 {
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: black;
            margin: 0 0 0 20px;
        }

        p {
            text-align: left;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #83848A;
            padding: 13px;
        }
    }
}

.chat {
    position: fixed;
}

.form_background {
    background-image: url('../images/form_background.png');
    height: 98%;
    margin-top: 50px;

    .rectangle-box {
        padding: 45px;

        h2 {
            color: white;
            text-align: left;
            font-size: 32px;
            font-weight: 500;
        }

        p {
            color: white;
            text-align: left;
            font-size: 40px;
            font-weight: 500;
        }

        .form_align {
            display: flex;
        }

        .form_right_align {
            margin-top: 15px;
            display: flex;
        }

        .form-group {
            label {
                color: white;
                font-size: 18px;
                font-weight: 400;
                display: block;
                text-align: justify;
            }

            input {
                margin-top: 15px;
                height: 40px;
                width: 120%;
            }
        }

        .form-right-group {
            margin-left: 60px;

            label {
                color: white;
                font-size: 18px;
                font-weight: 400;
                display: block;
                text-align: justify;
            }

            input {
                margin-top: 15px;
                height: 40px;
                width: 120%;
            }
        }

        .form-message-group {
            margin-top: 15px;

            label {
                color: white;
                font-size: 18px;
                font-weight: 400;
                display: block;
                text-align: justify;
            }

            textarea {
                width: 105%;
                margin-right: 142px;
                margin-top: 15px;
            }

        }

        .submit_btn {
            margin-top: 40px;
            width: 104%;
            height: 40px;
            margin-right: 131px;
            background: #3B70F9;
            color: white;
            font-size: 18px;
            border: none;
        }
    }

    .contact_information {

        .web_img {
            margin-left: 261px;
            position: relative;
            width: 30%;
        }

        h2 {
            color: white;
            text-align: left;
            font-size: 30px;
            font-weight: 600;
            margin-top: -22px;
        }

        .phone_icon {
            float: left;
            margin-top: 21px;
            color: white;
            display: flex;
            font-size: 19px;

            .phone_img {
                margin-top: 5px;
                width: 12%;
            }

            span {
                margin-left: 20px;
            }
        }

        .envelope_icon {
            float: revert;
            margin-top: 100px;
            color: white;
            display: flex;
            font-size: 19px;

            .envelope_img {
                margin-top: 5px;
                width: 5%;
            }

            span {
                margin-left: 20px;
            }
        }

        .map_icon {
            float: left;
            margin-top: 10px;
            color: white;
            display: flex;

            .location_img {
                margin-top: 44px;
                width: 5%;
                height: 35px;
            }

            p {
                text-align: justify;
                margin: 35px 0 0 28px;
                font-size: 18px;
                line-height: 28px;
                width: 52%;
            }
        }

        p {
            text-align: justify;
            margin: 135px 0 0 56px;
            font-size: 18px;
            line-height: 27px;
            width: 60%;
            color: white;
        }

        h3 {
            margin: 20px 0 0 0px;
            text-align: left;
            color: white;
            font-size: 28px;
        }

        .social_icon {
            img {
                float: left;
                margin-top: 15px;
                padding: 5px;
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .services {

        .web_img {
            position: absolute;
            margin: 0 0 0 -467px;
        }

        .basic_btn {
            width: 36%;
            height: 40px;
            background-image: linear-gradient(to right, #224495, #3B70F9);
            color: #FFFFFF;
            border: none;
            margin-top: 20px;
        }
    }

    .about_head {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 9px;
            width: 25%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 24px;
        }

    }

    .about_section {

        img {
            width: 100%;
            height: 87%;
        }

        .card_section {

            img {
                width: 56%;
                margin: 11px 0 0px 14px;
                height: 47px;
            }

        }
    }

    .about_image {
        background-image: url(../images/about_backimage.png);
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        width: 88%;
        margin: 0px 0 0px 65px;
        height: 225px;

    }

    .case_studies {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 8px 1px 6px 1px;
            width: 17%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

    }

    .offer {

        img {
            padding: 7px;
            float: left;
        }
    }

    .review {

        .review_img {

            .web_blue_quotes_img {
                position: absolute;
                margin-top: 166px;
                margin-left: -54px;
                width: 4%;
            }

        }
    }

    .form_background {
        background-image: url('../images/form_background.png');
        height: 98%;
        margin-top: 50px;

        .rectangle-box {
            padding: 45px;

            h2 {
                color: white;
                text-align: left;
                font-size: 32px;
                font-weight: 500;
            }

            p {
                color: white;
                text-align: left;
                font-size: 40px;
                font-weight: 500;
            }

            .form_align {
                display: flex;
            }

            .form_right_align {
                margin-top: 15px;
                display: flex;
            }

            .form-group {
                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                }

                input {
                    margin-top: 15px;
                    height: 40px;
                    width: 120%;
                }
            }

            .form-right-group {
                margin-left: 60px;

                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                }

                input {
                    margin-top: 15px;
                    height: 40px;
                    width: 120%;
                }
            }

            .form-message-group {
                margin-top: 15px;

                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                }

                textarea {
                    width: 105%;
                    margin-right: 142px;
                    margin-top: 15px;
                }

            }

            .submit_btn {
                margin-top: 40px;
                width: 104%;
                height: 40px;
                margin-right: 131px;
                background: #3B70F9;
                color: white;
                font-size: 18px;
                border: none;
            }
        }

        .contact_information {

            .map_icon {

                p {
                    text-align: justify;
                    margin: 35px 0 0 28px;
                    font-size: 18px;
                    line-height: 25px;
                    width: 58%;
                }
            }

            p {
                text-align: justify;
                margin: 144px 0 0 51px;
                font-size: 18px;
                line-height: 25px;
                width: 58%;
                color: white;
            }

        }
    }
}

@media screen and (max-width: 991px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 852px;
    }

    .about_head {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 6px;
            width: 22%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 17px;
        }

        .card.business {
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;

            .card {
                margin: 30px 0px 0px 24px;
                width: 29%;
                height: 67px;
            }

        }

    }

    .about_section {

        img {
            width: 100%;
            height: 100%;
        }

        .card_section {

            h1 {
                font-weight: 500;
                background: black;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 16px;
                font-family: "Roboto", sans-serif;
                text-align: left;
                margin-left: 12px;
            }

            .card {
                width: 32%;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                height: 88px;
            }

            img {
                width: 63%;
                margin: 18px 0 0px 14px;
                height: 47px;
            }

            p {
                text-align: justify;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 14px;
                padding: 0 9px 0 9px;
                color: #878787;
                width: 80%;
            }

        }

        button {
            width: 40%;
            height: 40px;
            background: #3B70F9;
            color: #FFFFFF;
            border: none;
            float: left;
        }

    }

    .about_image {
        background-image: url(../images/about_backimage.png);
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        width: 88%;
        margin: 45px 0 0px 65px;
        height: 225px;

    }

    .case_studies {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 7px 1px 4px 1px;
            width: 24%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 19px;
        }

    }

    .offer {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 10px;
            width: 20%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        img {
            padding: 23px;
            float: left;
            width: 25%;
        }

    }

    .development {
        h2 {
            margin-top: 221px;
            font-weight: 500;
            background: #3B70F9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            text-align: left;
        }

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 8px;
            width: 21%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 19px;
        }

        .card.development {
            width: 100%;

            h3 {
                font-size: 21px;
                margin-top: 18px;
                font-weight: 600;
                line-height: 24px;
                color: #0F0D1D;
                font-family: 'Roboto', sans-serif;
                text-align: left;
                margin-left: 15px;
            }

        }

    }

    .review {

        .review_img {
            background-image: url('../images/blue_background.png');
            width: 100%;
            background-position: center;
            height: 500px;

            .web_blue_quotes_img {
                position: absolute;
                margin-top: 155px;
                margin-left: -45px;
                width: 4%;
            }

        }

        .card.review {
            background-image: url('../images/blue_background.png');
            width: 94%;
            margin-top: 13px;
            height: 438px;
            border: none;

            .card.review_logo {

                img {
                    width: 45%;
                    margin: -10px 0px 0 -42px;
                    float: left;
                }
            }

            h3 {
                text-align: left;
                margin-left: 10px;
                margin-top: -20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: black;
            }

            h4 {
                text-align: left;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: black;
                margin: -6px 0px 17px 9px;
            }

            p {
                text-align: justify;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #83848A;
                padding: 9px;
                margin-top: 5px;
            }
        }


    }

    .form_background {
        background-image: url('../images/form_background.png');
        height: 98%;
        margin-top: 50px;
        width: 100%;

        .rectangle-box {
            padding: 45px;

            h2 {
                color: white;
                text-align: left;
                font-size: 28px;
                font-weight: 500;
            }

            p {
                color: white;
                text-align: left;
                font-size: 28px;
                font-weight: 500;
            }

            .form-group {
                label {
                    color: white;
                    font-size: 17px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                }

            }

        }

        .contact_information {

            p {
                text-align: justify;
                margin: 144px 0 0 51px;
                font-size: 18px;
                line-height: 28px;
                width: 66%;
                color: white;
            }

            h2 {
                color: white;
                text-align: left;
                font-size: 28px;
                font-weight: 600;
                margin-top: -22px;
            }

            .envelope_icon {
                float: revert;
                margin-top: 80px;
                color: white;
                display: flex;
                font-size: 19px;

            }

            .map_icon {
                float: left;
                margin-top: -13px;
                color: white;
                display: flex;

                p {
                    text-align: justify;
                    margin: 35px 0 0 28px;
                    font-size: 18px;
                    line-height: 25px;
                    width: 63%;
                }
            }

        }
    }
}

@media screen and (max-width: 784px) {
    .services {
        h1 {
            width: 110%;
        }

        .basic_btn {
            width: 44%;
            height: 40px;
            background-image: linear-gradient(to right, #224495, #3B70F9);
            color: #FFFFFF;
            border: none;
            margin-top: 20px;
        }
    }

    .about_section {
        h3 {
            font-size: 28px;
            margin-top: 11px;
            font-weight: 600;
            line-height: 33px;
            color: #0F0D1D;
            font-family: "Roboto", sans-serif;
            text-align: left;
            width: 101%;
        }

        .card_section {
            .card {
                width: 31%;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                height: 84px;
            }

            img {
                width: 63%;
                margin: 17px 0 0px 14px;
                height: 47px;
            }

            p {
                text-align: justify;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 14px;
                padding: 0 9px 0 9px;
                color: #878787;
                width: 84%;
            }

            h1 {
                font-weight: 500;
                background: black;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 15px;
                font-family: "Roboto", sans-serif;
                text-align: left;
                margin-left: 12px;
            }
        }
    }

    .about_image {
        background-image: url(../images/about_backimage.png);
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        width: 94%;
        margin: 45px 0 0px 23px;
        height: 212px;

        .rating {
            display: flex;
            margin-left: 5px;
            margin-top: 13px;

            img {
                width: 112%;
            }
        }

        .rating_content {
            font-size: 16px;
            line-height: 19px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: #FFFFFF;
            margin-left: 9px;
        }
    }

    .review {

        .review_img {

            .web_blue_quotes_img {
                position: absolute;
                margin-top: 161px;
                margin-left: -43px;
                width: 4%;
            }

        }

        .card.review {
            background-image: url('../images/blue_background.png');
            width: 95%;
            height: 438px;
            border: none;

            .card.review_logo {
                position: absolute;
                width: 46%;
                margin: 28px 0 0 39px;
                height: 50px;

                img {
                    width: 45%;
                    margin: -7px 0px 0 -29px;
                    float: left;
                }
            }
        }
    }

    .form_background {

        .rectangle-box {

            h2 {
                color: white;
                text-align: left;
                font-size: 25px;
                font-weight: 500;
            }

            p {
                color: white;
                text-align: left;
                font-size: 25px;
                font-weight: 500;
            }



            .form-group {
                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                    width: 118%;
                }

                input {
                    margin-top: 15px;
                    height: 40px;
                    width: 120%;
                }
            }

            .form-right-group {
                margin-left: 60px;

                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                    width: 112%;
                }

                input {
                    margin-top: 15px;
                    height: 40px;
                    width: 120%;
                }
            }

            .form-message-group {
                margin-top: 15px;

                label {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    text-align: justify;
                }

                textarea {
                    width: 105%;
                    margin-right: 142px;
                    margin-top: 15px;
                }

            }

            .submit_btn {
                margin-top: 40px;
                width: 104%;
                height: 40px;
                margin-right: 131px;
                background: #3B70F9;
                color: white;
                font-size: 18px;
                border: none;
            }
        }

        .contact_information {

            h2 {
                color: white;
                text-align: left;
                font-size: 25px;
                font-weight: 600;
                margin-top: -5px;
            }

            .phone_icon {
                float: left;
                margin-top: 11px;
                color: white;
                display: flex;
                font-size: 19px;

            }

            .envelope_icon {
                float: revert;
                margin-top: 73px;
                color: white;
                display: flex;
                font-size: 19px;

            }

            .map_icon {
                float: left;
                margin-top: -8px;
                color: white;
                display: flex;

                p {
                    text-align: justify;
                    margin: 35px 0 0 28px;
                    font-size: 17px;
                    line-height: 25px;
                    width: 65%;
                }

                .location_img {
                    margin-top: 44px;
                    width: 5%;
                    height: 31px;
                }

            }

            p {
                text-align: justify;
                margin: 35px 0 0 44px;
                font-size: 17px;
                line-height: 28px;
                width: 72%;
                color: white;
            }

        }
    }


}

@media screen and (max-width: 600px) {
    .container {
        max-width: 1200px;
    }

    .services {

        .web_img {
            display: none;
        }

        .services_head {
            font-weight: 500;
            font-size: 18px;
            line-height: 36px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            width: 119%;
        }

        h1 {
            width: 140%
        }

        .basic_btn {
            width: 58%;
            height: 40px;
            background-image: linear-gradient(to right, #224495, #3B70F9);
            color: #FFFFFF;
            border: none;
            margin-top: 20px;
        }
    }

    .about_head {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 10px;
            width: 29%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
        }

        .card.business {
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 51%;
            margin: 9px 0 0 123px;

            .img_it {
                width: 51%;
                margin: 5px 0 0 21px;
            }

            .img_cyber {
                width: 63%;
                margin: 8px 0 0 16px;
            }

            .img_web {
                width: 50%;
                margin: 10px 0 0 22px;
            }
        }

    }

    .about_section {

        .web_img {
            display: none;
        }

        .about_img {
            display: none;
        }

        .card_section {
            display: flex;

            .card {
                width: 16%;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                height: 84px;
            }

            img {
                width: 63%;
                margin: 17px 0 0px 14px;
                height: 45px;
            }

        }

        button {
            width: 29%;
            height: 40px;
            background: #3B70F9;
            color: #FFFFFF;
            border: none;
            float: left;
            margin-top: 19px;
        }
    }

    .about_image {
        background-image: url(../images/about_backimage.png);
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        width: 88%;
        margin: 37px 0 0px 27px;
        height: 591px;

        .rating {
            display: flex;
            margin-left: 119px;
            margin-top: 0px;
        }

        .rating_content {
            font-size: 16px;
            line-height: 19px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            color: #FFFFFF;
            margin-left: 29px;
        }
    }

    .case_studies {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 8px 2px 6px 4px;
            width: 25%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 19px;
        }

        .card.case {
            width: 71%;
            margin-left: 66px;
            margin-top: 14px;

        }
    }

    .offer {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 7px;
            width: 25%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        img {
            padding: 12px;
            width: 34%;
            margin-left: 51px;
        }
    }

    .development {

        h2 {
            margin-top: 349px;
            font-weight: 500;
            background: #3B70F9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            text-align: left;
        }


        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 10px;
            width: 26%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        .process_img {
            display: none;
        }

        .card.development {
            width: 60%;
            margin-left: 95px;
            margin-top: 14px;

        }

    }

    .review {
        display: none;
    }

    .form_background {
        .rectangle-box {
            .form-message-group {
                textarea {
                    width: 98%;
                    margin-right: 142px;
                    margin-top: 15px;
                }
            }

            .submit_btn {
                margin-top: 40px;
                width: 98%;
                height: 40px;
                margin-right: 131px;
                background: #3B70F9;
                color: white;
                font-size: 18px;
                border: none;
            }
        }

        .contact_information {

            .web_img {
                display: none;
            }

            h2 {
                color: white;
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                margin-top: -22px;
            }

            .phone_icon {
                float: left;
                margin-top: 21px;
                color: white;
                display: flex;
                font-size: 19px;
                margin-left: 50px;
            }

            .envelope_icon {
                float: revert;
                margin-top: 100px;
                color: white;
                display: flex;
                font-size: 19px;
                margin-left: 50px;
            }

            .map_icon {
                float: left;
                margin-top: 10px;
                color: white;
                display: flex;
                margin-left: 50px;

                p {
                    text-align: justify;
                    margin: 35px 0 0 28px;
                    font-size: 17px;
                    line-height: 25px;
                    width: 53%;
                }

            }

            p {
                text-align: justify;
                margin: 135px 0 0 102px;
                font-size: 18px;
                line-height: 27px;
                width: 48%;
                color: white;
            }

            h3 {
                margin: 18px 0 0 28px;
                text-align: left;
                color: white;
                font-size: 28px;
            }

            .social_icon {
                img {
                    float: left;
                    padding: 0px;
                    margin: 9px 0 22px 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .services {

        .web_img {
            display: none;
        }

        .services_head {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            width: 127%;
        }

        h1 {
            width: 102%;
            font-size: 21px;
        }

        .basic_btn {
            width: 68%;
            height: 40px;
            background-image: linear-gradient(to right, #224495, #3B70F9);
            color: #FFFFFF;
            border: none;
            margin-top: 20px;
        }
    }

    .about_head {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 10px;
            width: 38%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 17px;
        }

    }

    .case_studies {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 8px 2px 6px 4px;
            width: 32%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

    }

    .offer {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 7px;
            width: 30%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .development {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 10px;
            width: 33%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
    }

}

@media screen and (max-width: 400px) {
    .services {

        .web_img {
            display: none;
        }

        .services_head {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            width: 159%;
        }

        h1 {
            width: 124%;
            font-size: 18px;
        }

        .basic_btn {
            width: 85%;
            height: 40px;
            background-image: linear-gradient(to right, #224495, #3B70F9);
            color: #FFFFFF;
            border: none;
            margin-top: 4px;
        }
    }

    .about_head {

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 5px;
            width: 38%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 15px;
        }

        .card.business {
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 71%;
            margin: 5px 0 0 60px;
        }

    }

    .about_section {

        .card_section {
            display: flex;

            .card {
                width: 34%;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                height: 84px;
            }

            img {
                width: 89%;
                margin: 16px 0 0px 4px;
                height: 45px;
            }
        }

        button {
            width: 35%;
            height: 40px;
            background: #3B70F9;
            color: #FFFFFF;
            border: none;
            float: left;
            margin-top: 19px;
        }
    }

    .about_image {
        .rating {
            display: flex;
            margin-left: 56px;
            margin-top: 0px;
        }
    }

    .case_studies {

        h2 {
            margin-top: 82px;
            font-weight: 500;
            background: #3B70F9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 23px;
            font-family: "Roboto", sans-serif;
            text-align: left;
        }

        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 8px 2px 6px 4px;
            width: 37%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 17px;
        }

    }

    .offer {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 7px;
            width: 40%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        h3 {
            font-size: 24px;
            margin-top: 23px;
            font-weight: 600;
            line-height: 24px;
            color: #0F0D1D;
            font-family: "Roboto", sans-serif;
            text-align: left;
        }

        img {
            width: 49%;
            margin-left: 0px;
        }

    }

    .development {
        button {
            float: inline-end;
            background: #3B70F9;
            color: white;
            border: none;
            padding: 7px;
            width: 40%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        h3 {
            font-size: 24px;
            margin-top: 23px;
            font-weight: 600;
            line-height: 24px;
            color: #0F0D1D;
            font-family: "Roboto", sans-serif;
            text-align: left;
        }

        .card.development {
            width: 83%;
            margin-left: 46px;
            margin-top: 14px;
        }
    }

    .form_background {
        .rectangle-box {
            .form-message-group {

                textarea {
                    width: 107%;
                    margin-right: 142px;
                    margin-top: 15px;
                }

            }

            .submit_btn {
                margin-top: 40px;
                width: 106%;
                height: 40px;
                margin-right: 131px;
                background: #3B70F9;
                color: white;
                font-size: 18px;
                border: none;
            }
        }

        .contact_information {

            h2 {
                color: white;
                text-align: left;
                font-size: 30px;
                font-weight: 600;
                margin-left: 41px;
            }

            .map_icon {
                p {
                    text-align: justify;
                    margin: 35px 0 0 28px;
                    font-size: 18px;
                    line-height: 27px;
                    width: 66%;
                }
            }

            p {
                text-align: justify;
                margin: 165px 0 0 91px;
                font-size: 18px;
                line-height: 27px;
                width: 58%;
                color: white;
            }

            h3 {
                margin: 20px 0 0 43px;
                text-align: left;
                color: white;
                font-size: 28px;
            }

            .social_icon {
                img {
                    float: left;
                    margin-top: 15px;
                    padding: 0px;
                    width: 8%;
                    margin-left: 21px;
                }
            }
        }
    }

}